<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>pathdump</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterTopkServlet</display-name>
    <servlet-name>RegisterTopkServlet</servlet-name>
    <servlet-class>com.my.servlet.RegisterTopkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterTopkServlet</servlet-name>
    <url-pattern>/RegisterTopkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteTopkServlet</display-name>
    <servlet-name>ExecuteTopkServlet</servlet-name>
    <servlet-class>com.my.servlet.ExecuteTopkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteTopkServlet</servlet-name>
    <url-pattern>/ExecuteTopkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UninstallTopkServlet</display-name>
    <servlet-name>UninstallTopkServlet</servlet-name>
    <servlet-class>com.my.servlet.UninstallTopkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UninstallTopkServlet</servlet-name>
    <url-pattern>/UninstallTopkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterPathconfServlet</display-name>
    <servlet-name>RegisterPathconfServlet</servlet-name>
    <servlet-class>com.my.servlet.RegisterPathconfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterPathconfServlet</servlet-name>
    <url-pattern>/RegisterPathconfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterPoortcpServlet</display-name>
    <servlet-name>RegisterPoortcpServlet</servlet-name>
    <servlet-class>com.my.servlet.RegisterPoortcpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterPoortcpServlet</servlet-name>
    <url-pattern>/RegisterPoortcpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstallPathconfServlet</display-name>
    <servlet-name>InstallPathconfServlet</servlet-name>
    <servlet-class>com.my.servlet.InstallPathconfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstallPathconfServlet</servlet-name>
    <url-pattern>/InstallPathconfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UninstallPathconfServlet</display-name>
    <servlet-name>UninstallPathconfServlet</servlet-name>
    <servlet-class>com.my.servlet.UninstallPathconfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UninstallPathconfServlet</servlet-name>
    <url-pattern>/UninstallPathconfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecutePathconfServlet</display-name>
    <servlet-name>ExecutePathconfServlet</servlet-name>
    <servlet-class>com.my.servlet.ExecutePathconfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecutePathconfServlet</servlet-name>
    <url-pattern>/ExecutePathconfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowQueryServlet</display-name>
    <servlet-name>ShowQueryServlet</servlet-name>
    <servlet-class>com.my.servlet.ShowQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowQueryServlet</servlet-name>
    <url-pattern>/ShowQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.my.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
</web-app>